*{
    font-family: 'Dancing Script', cursive;
}

.main-square{
    background-color: peru;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.red{
    background-color: green;
    width: 10%;
    height: 150px;
    margin-top: 40%;
    margin-left: 25;
    
}

.yellow{
    background-color: yellow;
    height: 150px;
    width: 10%;
    

}

.blue{
    background-color: blue;
    height: 150px;
    width: 10%;
    
}